.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #17a589;
    opacity: 10;
    position: fixed;
}
.logoSection img{
    width: 100px ;

}
.listSection ul{
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 50px; 
}
.listSection ul li{
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.iconSection{
    display: flex;
    align-items: center;
    gap: 25px;
    color: #fff;
}
.listSection ul li:hover{
    cursor: pointer;
    transform: scale(0.93);
    transition: all 0.5s ease;
}
@media(width<650px){
    .listSection{
        display: none;
    }
}